---
import JsBarcode from "jsbarcode";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>On Route</title>
  </head>
  <body>
    <div class="holder">
      <div id="sites" class="sites">
        <input class="search" placeholder="Site Name" autofocus />
        <ul class="list"></ul>
      </div>
    </div>
  </body>

  <script>
    import List from "list.js";
    const options = {
      valueNames: ["name"],
      item: (values: any) => {
        return `<a href="/site?siteCode=${values.site}"> <li class="site"><h3 class="name"></h3></li>`;
      },
    };

    const values = [
      {
        name: "NR Stockton Recorder",
        site: "1086904615",
      },
      {
        name: "NR Stockton recorder south",
        site: "1086904677",
      },
      {
        name: "Sac recorder",
        site: "11028881",
      },
      {
        name: "Salon",
        site: "11245665",
      },
      {
        name: "BOS",
        site: "10354705",
      },
      {
        name: "NR BOS",
        site: "1086910822",
      },
      {
        name: "East lawn EG",
        site: "11191564",
      },
      {
        name: "Veg EG",
        site: "11566381",
      },
      {
        name: "Sac RCCC",
        site: "11028925",
      },
      {
        name: "Techno comm (Metro Florin)",
        site: "11579188",
      },
      {
        name: "Coin works BT103971",
        site: "11503779",
      },
      {
        name: "Mcd Mack",
        site: "10947384",
      },
      {
        name: "McD 25079",
        site: "10954545",
      },
      {
        name: "Dennys 7191",
        site: "11504832",
      },
      {
        name: "Sac treatment",
        site: "10237123",
      },
      {
        name: "Falling Prices Florin",
        site: "11173838",
      },
      {
        name: "Tooley 52",
        site: "11131706",
      },
      {
        name: "RR Bake shop",
        site: "11226728",
      },
      {
        name: "Sac CU ATT0437",
        site: "10930694",
      },
      {
        name: "Poppy Bank 22",
        site: "11496610",
      },
      {
        name: "Starbucks 50712",
        site: "11530400",
      },
      {
        name: "WF ATM 1699W",
        site: "11224386",
      },
      {
        name: "WF ATM 0582F",
        site: "176351322",
      },
      {
        name: "Coinstar laguna Safeway",
        site: "11043204",
      },
      {
        name: "Coinstar (save mart gerber)",
        site: "11043344",
      },
      {
        name: "Dutch bros CA1912",
        site: "11554500",
      },
      {
        name: "Goodwill w Stockton",
        site: "11499353",
      },
      {
        name: "Wendy’s 0661",
        site: "11128785",
      },
      {
        name: "Dutch Bros Elk",
        site: "11491523",
      },
      {
        name: "Dutch Bros Sheldon",
        site: "11019613",
      },
      {
        name: "Methodist Hospital",
        site: "131374-S",
      },
      {
        name: "Jack box 0594",
        site: "11504689",
      },
      {
        name: "Coin works BT104833",
        site: "11171380",
      },
      {
        name: "Wendy’s 0652 (Bond)",
        site: "11128776",
      },
      {
        name: "Safeway 0094",
        site: "11604043",
      },
      {
        name: "Dutch Bros Elk Groove",
        site: "11206441",
      },
      {
        name: "Lowes (Power inn)",
        site: "11078017",
      },
      {
        name: "Pnc Bank",
        site: "11162476",
      },
      {
        name: "Taco Bell Gerber",
        site: "11084384",
      },
      {
        name: "EcoATM 28116",
        site: "11202834",
      },
      {
        name: "Coinstar 31520532",
        site: "11132334",
      },
    ];

    const list = new List("sites", options as any, values);
  </script>

  <style is:global>
    button {
      width: 100%;
      height: 40px;
    }

    .holder {
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
    }

    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    a {
      text-decoration: none;
      color: unset;
      display: block;
      background-color: #aaa;
      text-align: center;
      padding: 1rem;
    }

    .list {
      font-family: sans-serif;
      margin: 0;
      padding: 5px 0 0;
    }
    .list > li {
      display: block;
      background-color: #eee;
      padding: 10px;
      box-shadow: inset 0 1px 0 #fff;
    }
    .avatar {
      max-width: 150px;
    }
    img {
      max-width: 100%;
    }
    h3 {
      font-size: 16px;
      margin: 0 0 0.3rem;
      font-weight: normal;
      font-weight: bold;
    }
    p {
      margin: 0;
    }

    input {
      border: solid 1px #ccc;
      border-radius: 5px;
      padding: 7px 14px;
      margin-bottom: 10px;
    }
    input:focus {
      outline: none;
      border-color: #aaa;
    }
    .sort {
      padding: 8px 30px;
      border-radius: 6px;
      border: none;
      display: inline-block;
      color: #fff;
      text-decoration: none;
      background-color: #28a8e0;
      height: 30px;
    }
    .sort:hover {
      text-decoration: none;
      background-color: #1b8aba;
    }
    .sort:focus {
      outline: none;
    }
    .sort:after {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid transparent;
      content: "";
      position: relative;
      top: -10px;
      right: -5px;
    }
    .sort.asc:after {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #fff;
      content: "";
      position: relative;
      top: 13px;
      right: -5px;
    }
    .sort.desc:after {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #fff;
      content: "";
      position: relative;
      top: -10px;
      right: -5px;
    }

    input {
      width: 80vw;
      height: 40px;
    }

    .sites {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }

    input::placeholder {
      font-size: 20px;
    }
  </style>
</html>
