---

---

<div class="holder">
  <svg id="barcode"></svg>
</div>

<script>
  import JsBarcode from "jsbarcode";

  // Create a URL object from the current window location
  const url = new URL(window.location.href);

  // Use URLSearchParams to access query parameters
  const params = new URLSearchParams(url.search);

  // Get the value of the "siteCode" parameter
  const siteCode = params.get("siteCode");

  JsBarcode("#barcode", siteCode!, {
    width: 3,
  });
</script>

<style>
  .holder {
    display: grid;
    place-items: center;
    height: 100vh;
  }

  svg {
    width: 100vw;
    rotate: 90deg;
    height: 100vw;
  }
</style>
